<!-- <div class="message-sent-container">
    <div class="message-sent-header">
      <h1>Thank you!</h1>
      <p>
        We have received your message and will contact you shortly.
      </p>
    </div>
    <div class="message-sent-image-container">
      <div class="message-sent-image" id="rotating-emoji">
        <img src="/assets/images/smiling-emoji.png" alt="Smiling Emoji">
      </div>
      <div class="rotating-background"></div>
    </div>
  </div> -->

  <div class="response-acknowledgement-container">
    <div class="response-acknowledgement-content">
      <div class="response-acknowledgement-close">
        <i class="fa fa-window-close" aria-hidden="true" (click)="hideThanks();"></i>
      </div>
      <!-- <img src="/assets/images/smiling-emoji.png" alt="Smiling Emoji"> -->
      <h1>Thanks for your response!</h1>
      <p>
        We appreciate your time and effort in contacting us. We will review your
        message and get back to you shortly.
      </p>
    </div>
  </div>