<div class="container">
    <!-- <img [src]="product.Pimage" alt="No-image" width="10%" height="10%"/>
    <p>Name : {{product.name}}</p>
    <p>Price: {{product.price}} </p>
    <p>Color: {{product.color}}</p>
    <p>{{product.stock  > 0 ? 'In Stock ' +product.stock + ' items left' : 'Out of Stock' }}</p>
    <button class="btn btn-primary" (click)="decreaseCart()">-</button>
    <span>{{addToCart}}</span>
    <button class="btn btn-primary" (click)="increaseCart()">+</button> -->

    <app-search (SearchTextChanged) = "setSearchText($event)"></app-search>
    <!-- <input [value]="name" type="text" (input)="onNameChange($event);">
    <p>{{name}}</p> -->

    <app-product-list [searchText] = "searchText" #ProductListComponent></app-product-list>
    <app-product-detail *ngIf = "ProductListComponent.selectedProduct"></app-product-detail>
</div>