<div class="container">
    <app-search (SearchTextChanged) = "setSearchText($event)"></app-search>
    <app-product-list [searchText] = "searchText" #ProductListComponent></app-product-list>
    <app-product-detail *ngIf = "ProductListComponent.selectedProduct" [productListComp]="productListComponent"></app-product-detail>
    <div class="featured-products">
        <div class="featured-product-heading">
            <h1 style="font-weight: 900;">Latest arrival in popular brands</h1>
        </div>
        <app-featured-brands>
            <h3 class="title" style="font-weight: 900;">
            New arrivals in Mobile Phones
        </h3>
        <button class="call-to-action">Show new arrivals in Mobile</button>
    </app-featured-brands>     
        <app-featured-brands>
            <h3 class="title"style="font-weight: 900;">
            New arrivals in Desktop
           </h3>
           <button class="call-to-action">Show new arrivals in Desktop</button>
    </app-featured-brands>     
        <app-featured-brands>
            <h3 class="title" style="font-weight: 900;">
            New arrivals in SmartWatches
             </h3>
        <button class="call-to-action">Show new arrivals in SmartWatches</button>
    </app-featured-brands>     
    </div>
    <!-- <section id="about">
        <app-about></app-about>
    </section> -->
    <section id="services">
        <app-services></app-services>
    </section>
    <section id="contact">
        <app-contact></app-contact>
    </section>
</div>