<div class="ekart--product--details--info scroll">
    <div class="ekart-product-detail-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="ekart-product-detail-image">
        <img [src]="product.img" class="ekart-product-detail-image">
    </div>
    
    <div class="ekart-product-detail">
        <div class="ekart-product-detail-name">
            <h2>{{product.name}}</h2>
        </div>
        <div class="ekart-product-detail-gbc">
            <!-- <span  [setBackground] [backColor]="'darkgrey'" >{{product.seller}}</span> -->
            <span [setBackground]="{textColor : 'white' , backColor:'darkgrey'}" >{{product.seller}}</span>
            <span [setBackground]="{textColor : 'white' , backColor:'darkgrey'}"> {{product.category}}</span>
        </div>
        <div class="ekart-product-detail-price">
            <p>
                <b>Price:</b>
                <span style="background-color: red; color:white" *ngIf="product.discountedPrice"><s>$699</s></span>
                <span style="background-color: green; color:white">$599</span> (Inclusive of all taxes)
            </p>
        </div>
        <div class="ekart-product-detail-size">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Size</h4>
            </div>
            <div style="margin-top: 20px;">@for (item of product.size; track $index){
                <span style="margin-right: 5px;" class="ekart-product-detail-available-size">{{item}}</span> }
            </div>
        </div>

        <div class="ekart-product-detail-color">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Color</h4>
            </div>
            <div style="margin-top: 20px;">
                <span class="ekart-product-detail-available-color" [ngStyle]="{'background-color' : item}" *ngFor="let item of product.color"></span>
                </div>                
        </div>

        <div class="ekart-product-detail-desc">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Product Description</h4>
            </div>
            <div style="margin-top: 20px">
                <p>{{product.description}}</p>
            </div>             
        </div>
    </div>
    <div class="ekart-product-detail-addtoCart" >
        <button class="btn-add-to-cart" appHover *ngIf="product.is_in_inventory;else NotifyMe">ADD TO CART</button>
       <!-- When we want to use ng-template we have to  put the template in curly braces and give it a reference variable.
       and use *ngtemplateOutlet and assign the template reference variable -->
        <ng-template #NotifyMe>
            <button class="btn-add-to-cart">Notify Me</button>
        </ng-template>
    </div>
</div>
<div class="overlay"></div>

<!-- @if(testing){User logged in } @else{User not logged in } -->